
.character__container {
  display: flex;
  overflow-x: scroll;
}

@media screen and (min-width: 1500px) {
  .character__container {
    justify-content: space-around;
  }
}

.character_editor_section_header {
  margin-bottom: .5rem;
}

.character_type_picker {
  display: flex;
  align-items: baseline;
}
