.character_sheet__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 10in;
  width: 7.5in;
  margin: 10rem auto;
}

.character_sheet__background_text {
  color: lightgrey;
}

.character_sheet__header {
  /* width: 50%; */
  /* border-left: 1px solid black; */
  border-bottom: 1px solid black;
}

.character_sheet__body {
  display: inline-flex;
  justify-content: space-between;
  align-items: flex-start;
}

.character_sheet__body__attributes {
  max-width: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.character_sheet__attribute_box__container {
  border: 1px solid black;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  margin-top: 1rem;
}

.character_sheet__attribute_box__title {
  border-bottom: 1px solid;
  width: 100%;
  display: flex;
  justify-content: center;
}
.character_sheet__attribute_box__title > h5 {
  align-self: center;
  margin: .25rem;
}

.character_sheet__attribute_box__stat {
  width: 100%;
  display: flex;
  justify-content: center;
}

.character_sheet__attribute_box__stat > h4 {
 align-self: center;
 margin: .5rem 0;
}

.character_sheet__body__content {
  display: flex;
  justify-content: space-between;
  width: 90%; /* TODO MAKE THIS WORK BETTER */
  flex-direction: column;
}

.character_sheet__body__group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}
.character_sheet__body__group__item {
  display: flex;
  justify-content: flex-start;
  border: 1px solid;
  margin-top: 1rem;
  flex-direction: row;
  padding-bottom: .25rem;
  min-width: 17rem;
}

.character_sheet__body__group__item > * {
  margin: .25rem 1rem;
}

.character_sheet__body__group__item__stat > h4 {
  border: 1px solid;
  padding: 1rem;
  margin: 1rem 0;
}

.character_sheet__body__group__item__levels {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex-grow: 1;
}

.character_sheet__body__group__item__levels > .character_sheet__body__group__item__levels__level {
  display: flex;
  justify-content: space-between;
  margin: .25rem 0;
}

.character_sheet__body__group__item__levels > .character_sheet__body__group__item__levels__level > h5, h6 {
  align-self: center;
}

.character_sheet__body__group__item__levels input[type='checkbox'] {
    -webkit-appearance:none;
    width:30px;
    height:30px;
    background:white;
    border-radius:5px;
    border:2px solid #555;
}

.character_sheet__body__group__item__levels input[type='text'] {
    -webkit-appearance:none;
    width:44px;
    height:24px;
    background:white;
    border-radius:2px;
    border:2px solid #555;
    margin-left: .5rem;
}

.character_sheet__body__primary_skill {
  /* border-bottom: 1px solid; */
}

.character_sheet__body__secondary_skill {

}
