
.dataDisplay__container {
    width: 80vw;
    margin: auto;

}

.dataDisplay__title__container {
    border-bottom: 3px black solid;
    padding: 2rem 0;
    height: 2rem;
}
.dataDisplay__title {
    float: left;
    margin: 0;
}

.dataDisplay__docLink {
    float: right;
    text-decoration: none;
    color: black;
    cursor: pointer;
    border: solid 2px dimgray;
    border-radius: 20%;
    margin: 1rem;
}

.dataDisplay__docLink * {
    margin: .2rem;
}

.dataDisplay__filter__container {
    display: inline-flex;
    background: darkgrey;
    width: 100%;
}
.dataDisplay__filter__container > div {
    width: 25%;
    margin: 1rem;
}
.dataDisplay__filter__container > div > h4,h5,h6 {
    margin: 0;
}

.dataDisplay__filter__name__input {
    height: 3rem;
    padding: 0 1rem;
    font-size: 1rem;
    margin-top: .5rem;
}

.dataDisplay__filter__button {
    background: #1c1d1e;
    color: white;
    cursor: pointer;
    width: 8rem;
    text-align: center;
    border-radius: 20%;
    padding: 1rem;
}

.dataDisplay__filter__button * {
    margin: 0;
}

.resetFilters__button {
    cursor: pointer;
}
