
.dataDisplay__container {
    width: 80vw;
    margin: auto;

}

.dataDisplay__title__container {
    border-bottom: 3px #660066 solid;
    padding: 2rem 0;
    height: 2rem;
}
.dataDisplay__title {
    float: left;
    margin: 0;
}

/** TODO make these variable based on view width */
.dataDisplay__list__table__row *:first-of-type {
    width: 30%;
}
.dataDisplay__list__table__row *:nth-of-type(2) {
    width: 10%;
}
.dataDisplay__list__table__row *:nth-of-type(3) {
    width: 15%;
}
.dataDisplay__list__table__row *:nth-of-type(4) {
    width: 40%;
}
.dataDisplay__list__table__row *:nth-of-type(5) {
    width: 5%;
    cursor: pointer;
    color: #660066;
}
.dataDisplay__list__header {
    margin-left: 1rem;
}
.dataDisplay__list__header h5 {
    display: inline-block;
    padding: 1rem 0;
}
.dataDisplay__list__item {
    text-align: left;
    list-style: none;
    padding: .5rem;
    margin: .5rem;
    border: 1px solid #660066;
    border-radius: 20%;
}
.dataDisplay__list__item div {
    display: inline-flex;
    text-align: left;
}

.expandedListDisplay {
    border: 1px solid #660066;
    border-top: none;
    padding: 1rem 3rem;
    margin: -1rem .5rem 0;
}


.dataDisplay__docLink {
    float: right;
    text-decoration: none;
    color: white;
    background-color: #1c1d1e;
    cursor: pointer;
    border-radius: 20%;
    margin: -1.5rem 0rem;
}

.dataDisplay__docLink * {
    margin: .2rem;
}

.dataDisplay__filter__container {
    display: inline-flex;
    background: darkgrey;
    width: 100%;
}
.dataDisplay__filter__container > div {
    width: 25%;
    margin: 1rem;
}
.dataDisplay__filter__container > div > h4,h5,h6 {
    margin: 0;
}

.dataDisplay__filter__name__input {
    height: 3rem;
    padding: 0 1rem;
    font-size: 1rem;
    margin-top: .5rem;
}

.dataDisplay__filter__button {
    background: #660066;;
    color: white;
    cursor: pointer;
    width: 8rem;
    text-align: center;
    border-radius: 20%;
    padding: 1rem;
}

.dataDisplay__filter__button * {
    margin: 0;
}

.resetFilters__button {
    padding-left: 1.5rem;
    color: #660066;
    cursor: pointer;
}
